<section class="container">
    <form name="config">
      <h2 class="text-center">
        Configurações
        <hr>
      </h2>

      <div class="form-group row">
          <label></label>


      </div>

      <div class="col-6">
            <button type="reset" class="btn btn-danger btn-block">
                <i class="fa fa-times"></i>
                Limpar
            </button>
          </div>
      <div class="col-6">
        <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-check"></i>
            Salvar
        </button>
      </div>

    </form>

    <div class="mt-2">
        <p class="col-12 text-info">
            * Ao preencher desativa cotação automática! blah!
        </p>
    </div>
</section>
